<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.evaldo.firebase">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FAFIC ADMINISTRADOR"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Administrador.Login.GerenciarUsuario.RedefinirSenhaUsuarioActivity"></activity>
        <activity android:name=".activity.Administrador.Login.GerenciarUsuario.CadastrarUsuarioActivity" />
        <activity android:name=".activity.Administrador.Login.LoginUsuarioActivity" />
        <activity android:name=".activity.Administrador.Storage.StorageActivity" />
        <activity android:name=".activity.Administrador.Storage.StorageDownloadActivity" />
        <activity android:name=".activity.Administrador.TerminalDePesquisa.DefinirImagens.DefinirImagemTerminaisPesquisaActivity" />
        <activity android:name=".activity.Administrador.TerminalDePesquisa.VerificarOnlineKiosques.ListaKiosquesOnlineActivity" />
        <activity android:name=".activity.Administrador.Resultados.ResultadosActivity" />
        <activity android:name=".activity.Administrador.TerminalDePesquisa.TerminaisActivity" />
        <activity android:name=".activity.Administrador.Resultados.ResultadosOuvidoria.ResultadosOuvidoriaDetalhados" />
        <activity android:name=".activity.Administrador.Resultados.ResultadosOuvidoria.ResultadosOuvidoriaQuantitativos" />
        <activity android:name=".activity.Administrador.Resultados.ResultadosQuestionarios.ExibirResultadosQuantitativosActivity" />
        <activity android:name=".activity.Administrador.Manutencao.PrincipalManutencaoActivity" />
        <activity android:name=".activity.Administrador.Manutencao.CadastrarTerminalDePesquisa" />
        <activity android:name=".activity.Administrador.TerminalDePesquisa.DefinirQuestionarioParaTerminais.ListarQuestionarioResumidasTerminalActivity" />
        <activity android:name=".activity.Administrador.TerminalDePesquisa.DefinirQuestionarioParaTerminais.ListarTerminaisActivity" />
        <activity
            android:name=".activity.Administrador.Resultados.ResultadosQuestionarios.ListarQuestionariosResultadosActivity"
            android:label="@string/title_activity_listar_respostas_resumidas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Administrador.Questionarios.GerenciadorQuestionatio.ListarQuestionariosActivity"
            android:label="@string/title_activity_geranciar_perguntas_mais"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Administrador.Questionarios.GerenciadorQuestionatio.EditarPerguntasActivity"
            android:label="ATUALIZAR QUESTIONÁRIO" />
        <activity android:name=".activity.Administrador.Questionarios.NovoQuestionarioActivity" />
        <activity android:name=".activity.Administrador.PrincipalActivity" />
        <activity android:name=".activity.Administrador.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Administrador.Resultados.ResultadosQuestionarios.ExibirResultadosDetalhadosActivity"
            android:label="Questionários Cadastrados" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.exemplo.firebasecursods"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>
    </application>

</manifest>